name: Build TotalSolutions
env:
  CI: false
  PA_TOKEN :  ${{ secrets.PATOKEN }}
on: 
  workflow_dispatch:
    inputs:
      reponame:
        description: 'Subroute of repo to build'
        required: false
        default: 'root'
        type: string
          
jobs:
  build-repo:
    runs-on: ubuntu-latest
    environment : env_test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PATOKEN }}
      - name: Install Bun
        run: |
          curl -fsSL https://bun.sh/install | bash
          echo "$HOME/.bun/bin" >> $GITHUB_PATH
      - name: Install Fish
        run: |
          sudo apt-get update
          sudo apt-get install -y fish
      - name: Set Execute Permission for build.fish
        run: chmod +x .github/build.fish
      - name: Debug API URL
        run: echo "API URL = $VITE_API_URL"
        env:
            VITE_API_URL: ${{ vars.VITE_API_URL }}

      - name: Build the Folders
        run: |
          CI=false
          cd .github && fish ./build.fish ${{ inputs.reponame }}
        env:
          VITE_API_URL: ${{ vars.VITE_API_URL }}
      - name: Push to Repository
        run: |
          git config --global user.name "krishnamanojpvr"
          git config --global user.email "119659348+krishnamanojpvr@users.noreply.github.com"
          cp -r .github/site/* .
          rm -r .github/site
          git status
          git add .
          git commit -m "Portal Build (automated)"
          git push
